[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask-mysqldb = "*"
mysql = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
flask = "*"

[dev-packages]
